<div class="app__button">
  <ul>
    <li>
      <button routerLink="/home" class="btn">
        <img [src]="imgHome" alt="Home" class="button-img" />
      </button>
    </li>
    <li>
      <button routerLink="/cursos" class="btn">
        <img [src]="imgCursos" alt="Cursos" class="button-img" />
      </button>
    </li>
    <li>
      <button routerLink="/sobre" class="btn">
        <img [src]="imgSobre" alt="Sobre" class="button-img" />
      </button>
    </li>
    <li>
      <button routerLink="/contato" class="btn">
        <img [src]="imgContato" alt="Contato" class="button-img" />
      </button>
    </li>
  </ul>
</div>
