<body>
  <div class="wrapper">
    <main>
      <section class="module parallax parallax-1">
        <h1 class="area-2">{{ titleParallax_1 }}</h1>
      </section>

      <section class="module content">
        <div class="container">
          <h2>{{ subtitleParallax_1 }}</h2>
          <p [style.white-space]="'pre-line'" [innerHTML]="textParallax_1"></p>
        </div>
        <div class="inscreva">
          <div class="inscreva-button">
            <app-buttons-cursos
              class="app-buttons-cursos"
              (click)="navigateTo(linkUrl)"
            ></app-buttons-cursos>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>
