<body>
  <div class="wrapper">
    <main>
      <div class="container-info">
        <div class="info">
          <div class="texto_linha">
            <div class="texto1_linha">{{texto1}}</div>
            <div class="texto2_linha"> {{ texto2}}</div>
            <div class="texto3_linha">{{ texto3}}</div>
          </div>
          <div class="texto4_linha">{{ texto4 }}</div>
        </div>
      </div>
      <div class="aprovados_container">
        <div class="aprovados">
          <div class="aprovado"><img src="{{ img1 }}" alt=""  (click)="navigateTo(vestibular)"/></div>
          <div class="aprovado"><img src="{{ img2 }}" alt="" (click)="navigateTo(militar)"/></div>
          <div class="aprovado"><img src="{{ img3 }}" alt="" (click)="navigateTo(medicina)"/></div>
        </div>
        <div class="aprovados_2nd">
          <div class="aprovado"><img src="{{ img4 }}" alt="" (click)="navigateTo(concurso)"/></div>
          <div class="aprovado"><img src="{{ img5 }}" alt="" (click)="navigateTo(ensino_medio)"/></div>
          </div>
          </div>

      <div class="inscreva">
        <div class="inscreva-button">
          <app-button-home
            class="app-buttons-cursos"
            (click)="navigateTo(linkUrl)"
          ></app-button-home>
        </div>
      </div>
    </main>
  </div>
</body>
