<section class="social">
  <div class="button-rs whatsapp">
    <a (click)="enviarMensagem()" title="Whatsapp" target="_blank">
      <fa-icon [icon]="whatsappIcon"></fa-icon>
      <span>Pré-Militar</span>
    </a>
  </div>
  <div class="button-rs whatsapp">
    <a (click)="enviarMensagem2()" title="Whatsapp" target="_blank">
      <fa-icon [icon]="whatsappIcon"></fa-icon>
      <span>Pré-Vest</span>
    </a>
  </div>
  <div class="button-rs contato">
    <a (click)="fazerChamada()" title="contato">
      <fa-icon [icon]="contatoIcon"></fa-icon>
      <span>2050-3526</span>
    </a>
  </div>
  <div class="button-rs contato">
    <a (click)="fazerChamada()" title="contato">
      <fa-icon [icon]="contatoIcon"></fa-icon>
      <span>2739-4936</span>
    </a>
  </div>
  <div class="button-rs instagram">
    <a (click)="abrirInstagram()" title="Instagram">
      <fa-icon [icon]="instagramIcon"></fa-icon>
      <span>Instagram</span>
    </a>
  </div>
</section>
