* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

  background-image: url('../../../assets/contato/contatoFundo.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  overflow: hidden;
}

.titulo,
.sede {
  font-family: var(--titulo);
  text-align: center;
  font-weight: bold 700;
  color: var(--branco);
}

.titulo {
  font-size: 3rem;
  padding: 3rem;
  padding-top: 15rem;
}

.sede {
  font-size: 3rem;
  padding: 3rem;
  padding-top: 5rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.footer {
  font-size: 1.5em;
  color: var(--branco);
}

@media(max-width:800px) {

  .footer {
    font-size: 1em;
    color: var(--branco);
  }
}